<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">		
		<br>
		<br>		
		
		<div class="row col-no-gutter-container">
			<div class="col-xs-12 col-md-6 col-lg-3 col-no-gutter">
				<div class="panel panel-blue panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-shopping-cart glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">120</div>
							<div class="text-muted">Steps taken &nbsp;
								<a title="This feature analyzes the total number of steps taken so far." class="hint">
									<span class="glyphicon glyphicon-question-sign" title="More"></span>
								</a>
							</div>							
						</div>						
					</div>
				</div>
			</div>			

			<div class="col-xs-12 col-md-6 col-lg-3 col-no-gutter">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-comment glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">52</div>
							<div class="text-muted">Fitment rating &nbsp;
								<a title="A rank given out of 100 specifying how strongly your shoes fit." class="hint">
									<span class="glyphicon glyphicon-question-sign" title="More"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 col-no-gutter">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-user glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">24</div>
							<div class="text-muted">Distance travelled &nbsp;
								<a title="Your mileage accumulated thus far." class="hint">
									<span class="glyphicon glyphicon-question-sign" title="More"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 col-no-gutter">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-stats glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">25.2k</div>
							<div class="text-muted">Rate of usage &nbsp;
								<a title="An average rate of impact." class="hint">
									<span class="glyphicon glyphicon-question-sign" title="More"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row col-no-gutter-container row-margin-top">
			<div class="col-lg-12 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Recent Activity &nbsp;
						<a title="Shows the total number of steps taken over a given week" class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row row-no-gutter col-no-gutter-container">
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Pressure Output &nbsp;
						<a title="Highlights targeted areas of pain" class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="bar-chart" ></canvas>
						</div>
					</div>
				</div>
			</div><!--/.col-->
			
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Fitment Rating &nbsp;
						<a title="Highlights your type of pronation" class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="radar-chart" ></canvas>
						</div>
					</div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->												
	</div>	<!--/.main-->

	