<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<br>		
		
		<div class="row col-no-gutter-container row-margin-top">
			<div class="col-lg-12 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Arch Type &nbsp;
						<a title="A summary of your foot arch analysis and supplemental metrics" class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="col-md-4">
                            <h3>Flat Footed</h3>	
                            <p>Your arch is either very shallow or completely flat.
                             Walking without proper arch support can result in a weakened posture and discomfort in your hips and back.</p>
                             <center>
                             	<div><img src="img/foot-hardcoded.png"></div>
                             </center>
						</div>
						<div class="col-md-4">
                            <h3>Feet Dimension Analysis</h3>
                            <p>Length: 8.9 inches</p>
                            <p>Width: 4.5 inches</p>
						</div>
                        <div class="col-md-4">
                            <h3>Dimensional Analysis</h3> 
                            <p>Your feet length to width ratio is <strong>proportionally</strong> accurate to that of a <strong>flat-footed</strong> archetype. 
                            Information from the pressure sensors indicate that you are <strong>over-utilizing</strong> the <strong>toe box</strong> area in the shoe. 
                            <strong>Wider shoes</strong> are recommended to accommodate the <strong>width</strong> of your feet.</p>                           
                        </div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row row-no-gutter col-no-gutter-container">
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Pronation Type &nbsp;
						<a title="Specifies the specific arch type and form-fitting shoes" class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
                            <h3>Underpronation</h3>
                            <p>The <strong>outer or lateral</strong> side of your <strong>heels</strong> takes on the vast majority of shock during regular use. 
                            This type of pronation delivers a <strong>large mount of shock to your lower leg</strong> and affects <strong>running efficiency</strong>.</p>
						</div>
					</div>
				</div>
			</div><!--/.col-->
			
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Suggested Shoe Type &nbsp;
						<a title="A proper suggestion of the type of shoe that best fits" class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
                            <h3>Comfort Level 1</h3>                            
                            <p>Pronation: Use a shoe with outer stability
                            	<br>
                            	Foot dimensions: Feet align closely with the standard men's size 9.
                            	<br>
                            	(Insert one more line here)
                            </p>                            
						</div>
					</div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->										
	</div>	<!--/.main-->