<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<br>		
		<div class="row col-no-gutter-container row-margin-top">
			<div class="col-lg-12 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Arch Type</div>
					<div class="panel-body">
						<div class="col-md-6">
                            <h3>Flat Footed</h3>	
                            <p>Your arch is either very shallow or completely flat.
                             Walking without proper arch support can result in a weakened posture and discomfort in your hips and back.</p>						
                            <center>
                                <br />
                                <h4>Feet Dimension Analysis</h4>
                                <p>Length: 8.9 inches</p>
                                <p>Width: 4.5 inches</p>
                            </center>
						</div>
                        <div class="col-md-6">
                            <h3>Dimensional Analysis</h3> 
                            <p>Your feet length to width ratio is proportionally accurate to that of a flat-footed archetype. 
                            Information from the pressure sensors indicate that you are over-utilizing the toe box area in the shoe. 
                            Wider shoes are recommended to accommodate the width of your feet.</p>                           
                        </div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row row-no-gutter col-no-gutter-container">
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Pronation Type</div>
					<div class="panel-body">
						<div class="container-fluid">
                            <h3>Underpronation</h3>
                            <p>The outer or lateral side of your heels takes on the vast majority of shock during regular use. 
                            This type of pronation delivers a large mount of shock to your lower leg and affects running efficiency.</p>
						</div>
					</div>
				</div>
			</div><!--/.col-->
			
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Suggested Shoe Type</div>
					<div class="panel-body">
						<div class="container-fluid">
                            <h3>Comfort Level 1</h3>
                            <ul>
                                <li>Arch Type: To avoid injury, use a shoe with a prominent arch</li>
                                <li>Pronation: Use a shoe with outer stability</li>
                                <li>Foot dimensions: Feelt align closely with the standard men's size 9</li>
                            </ul>
						</div>
					</div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->										
	</div>	<!--/.main-->

	