
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <br>
    <br>
    <div class="row container">
        <div class="panel panel-default">
            <div class="panel-heading">Account Information</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <p>Update your personal profile information related to your account.</p>
                    <br />
                    <form role="form">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" placeholder="First Name">
                            <br>
                            <label>Last Name</label>
                            <input class="form-control" placeholder="Last Name">
                            <br>
                            <label>Date of Birth</label>
                            <input class="form-control" placeholder="Date of Birth">
                            <br>
                            <label>Username</label>
                            <input class="form-control" placeholder="Username">
                            <br>
                            <label>Password</label>
                            <input class="form-control" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form role="form">                                
                        <div class="form-group">
                            <label>Upload your profile picture</label>
                            <input id="data-input" type="file">
                            <br>
                            <button class="btn btn-default" ng-click="upload()">Upload</button>
                        </div>

                        <div class="form-group">
                            <label>Validation</label>
                            <div class="form-group has-success">
                                <input class="form-control" placeholder="Success">
                            </div>
                            <div class="form-group has-warning">
                                <input class="form-control" placeholder="Warning">
                            </div>
                            <div class="form-group has-error">
                                <input class="form-control" placeholder="Error">
                            </div>
                        </div>                                
                    </form>
                </div>   
            </div>                   
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Shoe Information</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <p>Update pertinent information related to your shoe.</p>
                    <br />
                    <form role="form">                                                                                              
                        <div class="form-group">
                            <label>Change your shoe profile picture</label>
                            <input type="file">
                        </div>                                
                    </form>
                </div>            
            </div>                                 
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Dashboard Modules</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p>This is where you can rearrange your dashboard modules on main.</p>
                    <br />
                    <form role="form">
                        <div class="form-group">
                            <label>Text area</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>                                
                    </form>
                </div>                        
            </div>                                        
        </div>
        <button class="btn btn-default" style="float: right">Cancel</button>             
        <button class="btn btn-default save-changes">Save Changes</button>      
    </div><!-- /.col-->
</div><!-- /.row -->
