<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<br>
		<br>
		
		<div class="row col-no-gutter-container">
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Remaining Shoe Life &nbsp;
						<a title="An estimated percentage of how much longer your shoes will last." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-blue" data-percent="80" >							
							<span class="percent">80%</span>
								<p>Your shoe is in great condition. No problems with wear and tear.</p>

						</div>						
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Total Distance &nbsp;
						<a title="Your estimated mileage accumulated by your shoes thus far." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange" data-percent="0">
							<span class="prestonpercent">99 miles</span>
							<p>Keep up your mileage. You are 10% above the national average.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Days Worn &nbsp;
						<a title="This is the number of days you have worn your shoes." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-teal" data-percent="0" >
							<span class="prestonpercent">29 days</span>
							<p>Consider replacing your shoes in 50 days for optimal performance.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Rate of Usage &nbsp;
						<a title="An average estimate of how often you wear your shoes daily." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-red" data-percent="0" >
							<span class="prestonpercent">3.4 miles/day</span>
							<p>No significant data here to display.</p>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		
		

		<div class="row col-no-gutter-container row-margin-top">
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Recent Activity &nbsp;
						<a title="Shows the total number of steps taken over a given week." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Foot Strike &nbsp;
						<a title="A foot impact distribution chart." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="polar-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->


		
		<div class="row row-no-gutter col-no-gutter-container">
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Pressure Output &nbsp;
						<a title="Highlights your type of pronation." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="bar-chart" ></canvas>
						</div>
					</div>
				</div>
			</div><!--/.col-->
			
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Fitment Rating &nbsp;
						<a title="This is some information for our tooltip." class="hint hint-normalized">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="radar-chart" ></canvas>
						</div>
					</div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->								
	</div>	<!--/.main-->