<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<br>
		<br>
		
		<div class="row col-no-gutter-container">
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Remaining Shoe Life &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-blue" data-percent="80" ><span class="percent">80%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Total Distance &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange" data-percent="0" ><span class="prestonpercent">99 <br/>miles</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Days Worn &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-teal" data-percent="0" ><span class="prestonpercent">29 <br/>days</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Rate of Usage &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-red" data-percent="0" ><span class="prestonpercent">3.4 <br/>miles/day</span>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		
		

		<div class="row col-no-gutter-container row-margin-top">
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Recent Activity &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Foot Strike &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="polar-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->


		
		<div class="row row-no-gutter col-no-gutter-container">
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Pressure Output &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="bar-chart" ></canvas>
						</div>
					</div>
				</div>
			</div><!--/.col-->
			
			<div class="col-md-6 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">Fitment Rating &nbsp;
						<a title="This is some information for our tooltip." class="hint">
							<span class="glyphicon glyphicon-question-sign" title="More"></span>
						</a>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="radar-chart" ></canvas>
						</div>
					</div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->								
	</div>	<!--/.main-->