<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!--custom css-->
        <link rel="stylesheet" type="text/css" href="css/local.css" />

        <!--Load JQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

      

        <title></title>
    </head>

    <body id="landing">               
        <div class="container">
            <div class="main-title landing-center signin">                
                <h1>L O G I N</h1> 
                <br />
                <div class="form-group form-group-sm">
                    <input id="username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    <br />
                    <input id="password" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    <br />
                    <a href="all-done.html"><button class="btn btn-default" type="submit">S I G N &nbsp; I N</button></a>
                </div>                    
                <br />
                <h5><b>Forgot your password?</b> Click here to reset it.</h5>
            </div>                   
        </div>        

                     
              
    </body>

</html>
